# Python Distribution Package Requirements for APEX.
#
# Source:: https://github.com/syncleus/apex
# Author:: Jeffrey Phillips Freeman WI2ARD <freemo@gmail.com>
# Copyright:: Copyright 2016, Syncleus, Inc.
# License:: Apache License, Version 2.0
#

flake8==2.1.0
pylint==1.2.1
